commands:
  10_cleanup:
    command: |
      rm -f /opt/elasticbeanstalk/hooks/configdeploy/post/*
      rm -f /etc/nginx/conf.d/*

container_commands:
  20_remove_default_configs:
    command: |
      rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
      rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
