Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    epel-release: []

container_commands:
  10_export_letsencrypt_env:
    command: |
      echo LETSENCRYPT_DOMAINS="${LETSENCRYPT_DOMAINS}" >> /etc/environment
      echo LETSENCRYPT_EMAIL="${LETSENCRYPT_EMAIL}" >> /etc/environment
  20_remove_default_config:
    command: |
      # service nginx stop
      # rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
      # rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
