files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/100_install_cert_bot.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      echo "Installing CERTBOT"
      wget https://dl.eff.org/certbot-auto
      mv certbot-auto /usr/local/bin/certbot-auto
      chown root /usr/local/bin/certbot-auto
      chmod 0755 /usr/local/bin/certbot-auto
      echo "CERTBOT installed"

  "/opt/elasticbeanstalk/hooks/appdeploy/post/101_configure_cert.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      source /etc/environment
      echo "Configuring CERTBOT for domains: ${LETSENCRYPT_DOMAINS}";

      certbot_command="/usr/local/bin/certbot-auto certonly --webroot --webroot-path /var/www/html --debug --non-interactive --email ${LETSENCRYPT_EMAIL} --agree-tos --keep-until-expiring --expand"
      for domain in $(echo $LETSENCRYPT_DOMAINS | sed "s/,/ /g")
      do
        echo "Creating command for domain: $domain"
        certbot_command="$certbot_command -d $domain"
      done
      echo "Command to be run: $certbot_command"

      echo "Running CERTBOT"
      eval $certbot_command
      echo "CERTBOT configured";

  "/opt/elasticbeanstalk/hooks/appdeploy/post/102_link_cert.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      source /etc/environment
      domain="$( cut -d ',' -f 1 <<< "$LETSENCRYPT_DOMAINS" )";
      if [ -d /etc/letsencrypt/live ]; then
        echo "letsencrypt/live exists";
        domain_folder_name="$(ls /etc/letsencrypt/live | sort -n | grep $domain | head -1)";
        echo "domain_folder_name is $domain_folder_name";
        if [ -d /etc/letsencrypt/live/${domain_folder_name} ]; then
          echo "Creating sym link";
          ln -sfn /etc/letsencrypt/live/${domain_folder_name} /etc/letsencrypt/live/ebcert
        fi
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/103_remove_old_configs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -rf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf

  "/opt/elasticbeanstalk/hooks/appdeploy/post/104_restart_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      service nginx stop
      service nginx start
